*{
	margin: 0;
	float: none;
	width: auto;
	height: auto;
	margin: auto;
	box-sizing: border-box;
}
body{
background:url("image/background.jpg");
float: left;
width: 100%;
height:100%;
margin: 4% 0;
text-align: center;
}
h1,h2,h3,h4,h5,p{
		font-family: 'Ubuntu', sans-serif;
	color:#EEEEEE;
}
h2{
    font-size: 28px;
    line-height: 60px;
    font-weight: 500;
    border-bottom: 1px solid;
    text-align: center;
}

h5{
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 10px;
}

p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.content{
    float: none;
    text-align: center;
}

.content h1{
	font-size: 81px;
    line-height: 95px;
    text-align: center;
}

.play {
    line-height: 65px;
    background-color: #00ADB5;
    color: #EEEEEE;
    display: inline-block;
    width: 40%;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    margin:40px 0;
    border-radius: 15px;
}
.information-game{
    border-radius: 25px;
    padding: 40px;
    padding-top: 0;
    width: 45%;
    border: 3px solid #1E2727;
    text-align: left;
    background-color: #393E46;
}

form{

    padding: 30px;
    text-align: left;
    float: left;
    display: block;
    width: 100%;

}
.back{
	text-align: left;
    float: left;
    width: 100%;
    color: #EEEEEE;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.input{
   width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 45px;
}

.sec-opt{
	width: 100%;
    margin-bottom: 30px;
    display: block;
}
.opt{
	font-family: 'Ubuntu', sans-serif;
	color:#EEEEEE;
	font-size: 18px;
	line-height: 25px;
	padding-right: 45px;
}
.opt:last-child{
padding-right:0;
	}
.opt:hover{
	color:#00ADB5;
}

.social{
	width: 100%;
    margin-bottom: 25px;
    display: block;
}
.social a{
	display: inline-block;;
	margin-right: 75px;	
}
.social a:last-child{
	display: inline-block;;
	margin-right: 0;	
}
a:link, a:visited {
    text-decoration: none;
}
.fa-facebook-square{
	color:#3b5998;
}
.fa-google-plus-square{
	color:#d34836;

}
.fa-twitter-square{
 color:#00aced;
}
.fa-facebook-square:hover{
	color:#6d84b4;
}
.fa-google-plus-square{
	color:red;

}
.fa-twitter-square:hover{
 color:#1dcaff

}

input[type=submit]{
    line-height: 45px;
    background-color: #00ADB5;
    color: #EEEEEE;
    display: inline-block;
    width: 100%;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    margin:0;
    border-radius: 15px;
}
.overlay {
 position: fixed;
 display: none;
 height: 100%;
 width: 100%;
 left: 0;
 top: 0;
}
input[type=checkbox].smoosh:checked ~ label.overlay {
 display: block;
 z-index: 500;
}
div.overlay-dialogue {
    position: fixed;
    display: none;
    width: 20%;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 24%;
    background-color: #393E46;
    border:2px solid #EEEEEE;
    border-radius: 15px;
}

input[type=checkbox].smoosh:checked ~ div.overlay-dialogue {
 display: block;
 z-index: 505;
}
/* eye candy */

.smoosh {
 display: none;
 line-height: 0;
 margin: 0 0 0 0;
 padding: 0 0 0 0;
 color: transparent;
 background: transparent;
 border: none;
 outline: none;
 height: 0;
 width: 0;
}

div.overlay-dialogue {
 padding: 1%;
 overflow-y: auto;
 animation: START 0.3s ease-in-out;
}
@keyframes START {
 0% {transform: rotateY(55deg); opacity: 0;}
 100% {transform: rotateY(0deg); opacity: 1;}
}





/*second page*/


.container-1{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  float: left;
}

.container-1 input#search{
  width: 100%;
  height: 50px;
  background: #E0F2F3;
  border: none;
  font-size: 18px;
  float: left;
  color: #E0F2F3;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #393E46;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #393E46;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #393E46;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #393E46;  
}
.container-1 .icon{
  position: absolute;
  top: 0;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #393E46;
  float: left;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #EEEEEE;
  }

  .left{
  	width: 45%;
  	text-align: left;
  	display: inline-block;
  }
  .right{
  	width: 45%;
  	text-align: right;
  	display: inline-block;
  }
  .userpage{
    float: left;
    padding: 0 10%;
    width: 100%;
	height: 800px;;
  }
  .left-content{
    width: 42%;
    text-align: left;
    float: left;
    display: inline-block;

  }

   .right-content{
    width: 53%;
    text-align: left;
    float: right;
    display: inline-block;

  }
  .friends{
  	width: 100%;
  	text-align: left;
  	float: left;
  	display: inline-block;
  	padding: 5%;
  	background-color: #393E46;
    border:2px solid #EEEEEE;
    border-radius: 15px;
  }
  .friends-info{
  	border-bottom: solid #EEEEEE;
    float: left;
    width: 100%;
    padding-bottom: 3%;
  }
  .friend-status{
  float: left;
    display: block;
    width: 100%;
      }
.friends-list{
  float: left;
 display: block;
 width: 100%;
 padding: 1% 0;
}
.friend-status h5{
	    float: left;
    display: inline-block;
    width: 75%;
    margin: 0px;
}
.friend-status input{
    float: right;
    display: inline-block;
    width: 23%;
    margin: 10px 0;
    border-radius: 25px;
    border: 2px solid #00ADB5;
    padding: 2px;
    background-color: #00ADB5;
    font-family: 'Ubuntu', sans-serif;
    color: #EEEEEE;
}
.username{
	float: left;
	display: block;
	width: 100%;
	padding-bottom: 6%;
}
.username h1{
    float: left;
    font-size: 58px;
    line-height: 61px;
    text-align: left;
    width: 100%;
    display: block;
}
.game-info{
	 float: left;
	  width: 100%;
}

.game-info span{
	display: inline-block;;
	margin-right: 25px;	
	width: 15%;
}
.game-info span:last-child{
	display: inline-block;;
	margin-right: 0;	
}
.game-info p{
	    font-size: 16px;
    line-height: 31px;
    font-weight: 400;
    display: inline-block;
    float: right;
}
.game-info .fa-2x {
    font-size: 2em;
    display: inline-block;
    float: left;
    color: #EEEEEE;

}
.left-elem{
	float: left;
	width: 80%;
}
.username input{
	padding: 10px;
    border-radius: 25px;
    float: right;
    background: #393E46;
    color: #EEEEEE;
    margin-top: 3%;
}
.username input:before, .username input:focus, .username input:hover{
	    padding: 10px;
    border-radius: 25px;
    float: right;
    background: #393E46;
    color: #EEEEEE;
    margin-top: 3%;
}
.option-friends{
	    border-top: 3px solid #EEEEEE;
    width: 100%;
    float: left;
    padding-top: 4%;
    text-align: center;
}
.option-friends input{
	display: inline-block;
    width: 30%;
    margin:0 25px;
    border-radius: 25px;
    border: 2px solid #00ADB5;
    padding: 15px;
    background-color: #00ADB5;
    font-family: 'Ubuntu', sans-serif;
    color: #EEEEEE;
}
.games-list{
	width: 100%;
  	text-align: left;
  	float: left;
  	display: inline-block;
  	padding: 4%;
    border:2px solid #EEEEEE;
    border-radius: 15px;
    background-color: #393E46;
}
.game-buttons{
    float: left;
    width: 100%;
    padding: 2% 0 8% 0
}
.game-buttons .info{
	width: 50px;
	float: right;
	background-color: #393E46;
	 padding: 18px;
    border-radius: 25px;
    color: #EEEEEE;
}
.game-buttons .create{
	width: 85%;
	float: left;
	text-align: center;
	background: #00ADB5;
	 padding: 18px;
    border-radius: 25px;
    color: #EEEEEE;
}
.games-list .avaible-games{
	    border-top: 3px solid #EEEEEE;
    float: left;
    width: 100%;
}

.games-list h5{
	float: left;
    width: 100%;
    font-size: 40px;
    line-height: 40px;

}
.game-status{
	    float: left;
    width: 100%;
    padding: 1% 0;
}
.game-status input{
    padding: 1%;
    width: 10%;
    border-radius: 14px;
    background: #EEEEEE;
    margin-top: 1%;
   	font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

}
.game-status h5{
float: left;
    width: 90%;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 0;
}
.games-list .dropdown-list{
	float: left;
	width: 100%;
	display: block;
	padding-bottom: 4%;
	text-align: center;
}

.games-list .dropdown-list select{
	width: 27%;
    display: inline-block;
    padding: 1%;
    background: #EEEEEE;
    margin-right: 8%;
}
.games-list .dropdown-list select:last-child{
	margin-right: 0;
}

.game-type{
	float: left;
    width: 100%;
    display: block;
    margin: 4% 0;
}
.game-type input{
    display: inline-block;
    width: 32%;
    margin: 0;
    border-radius: 10px;
    padding: 12px;
    background-color: #EEEEEE;
    font-family: 'Ubuntu', sans-serif;
    color: #393E46;
}
.criterii-list{
	float: left;
	width: 100%;
	margin-top:2%; 

}
.criterii-list select{
	    float: left;
    width: 100%;
    padding: 5% 3%;
    margin: 5% 0;
}
.criterii-span .create{
	width: 100%;
	float: left;
	text-align: center;
	background: #00ADB5;
	 padding: 18px;
    border-radius: 25px;
    color: #EEEEEE;
    margin-top: 10%;
}



/**/
.game-loby h1{
    float: left;
    font-size: 58px;
    line-height: 61px;
    text-align: left;
    width: 100%;
    display: block;
}
.social-invite input{
	    font-size: 24px;
    padding: 1%;
    width: 80%;
    border-radius: 9px;
    float: left;
}
.social-invite a{
	float: left;
	width: 8%;
	margin-left: 2%;
}